<html>
<head>

<title> Diabetics Prediction</title>
</head>
<body style="background-color: #a4fafeb7;">
    
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<center>Diabetics Prediction</center>
    <br><br>
    <form action="/pred" method ='POST'>
         <img src="static\img1.webp" width="100%",height=40%> 
        
        
        <br>
        
        <br><br><br><br>


        <!-- Pregnancies, Glucose, BloodPressure, SkinThickness, Insulin, BMI, DiabetesPedigreeFunction, Age -->

        
        <label>Pregnancies</label><input type="text" name ="Pregnancies", height="20px",width="30px"><br><br>

        <label>Glucose</label><input type="text" name ="Glucose", height="20px",width="30px"><br><br>

        <label>BloodPressure</label><input type="text" name ="BloodPressure", height="20px",width="30px"><br><br>

        <label>SkinThickness</label><input type="text" name ="SkinThickness", height="20px",width="30px"><br><br>

        <label>Insulin</label><input type="text" name ="Insulin", height="20px",width="30px"><br><br>

        <label>BMI</label><input type="text" name ="BMI", height="20px",width="30px"><br><br>


        <label>DiabetesPedigreeFunction</label><input type="text" name ="DiabetesPedigreeFunction", height="20px",width="30px"><br><br>

        <label>Age</label><input type="text" name ="Age", height="20px",width="30px"><br><br>

        
       
        


         
        <input type="submit">
      
        <br><br>
        
    </form>
    
</body>
</html>